
*,
*::before,
*::after {
  box-sizing: border-box;
}
header {
    background-color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
}
body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
    text-decoration: underline;
}
.second-level {
    visibility: hidden;
    margin-bottom: 72px;
}
h1 {
    max-width: 496px;
}
.address li {
    text-decoration: none;
    list-style-type: none;
}
.nav li {
    text-decoration: none;
    list-style-type: none;
}
.container li {
    text-decoration: none;
    list-style-type: none;
}
.link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
 .nav .link:hover, 
 .nav .link:focus {
    color: #404bbf;
}
.address .addressfirst:hover, 
.address .addressfirst:focus {
color: #404bbf;
}
.section-first .button:hover, 
.section-first .button:focus {
    background-color: #404BBF;
}
.address {
    font-style: normal;

}
.addressfirst {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: inline;
}
.link {
    display: inline;
}
.mail-tel {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-first {
    background-color: #2E2F42;
    display: flex;
    width: 1440px;
    height: 600px;
}
.solutions {
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    display: flex;
    flex-basis: 496px;
    margin-top: 260px;
    margin-left: 472px;
    margin-right: 472px;
    justify-content:center;
    align-items: center;
    flex-direction: row;
}
.button {
    background-color: #4D5AE5;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    padding: 16px 32px 16px 32px;
    margin: auto 0;
    gap: 10px;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height:56px;
    border: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    color: #4D5ae5;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;

}
.logo-dark {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17px;
    text-transform: uppercase;
}
.text {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.section-third {
    background-color: #F4F4FD;
    width: 1440px;
    height: 732px;
}
.list {
    background-color: #FFFFFF;
}
.footer {
    background-color: #2e2f42;
    width: 1440px;
    height: 312px;
    padding: 100px 0;
}
.textfooter {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    text-align: left;
}
.logo-footer {
    color: #F4F4FD;
}
.portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.paragraph {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.container-footer {
    width: 264px;
    height: 112px;
    margin-left: 156px;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-right: 1020px;
}
.page-header {
    width: 1440px;
    height: 72px;
    display: flex;
    border-bottom: 1px solid rgba(231, 233, 252, 1);
}
.container .team {
    display: flex;
}
.team-people {
    align-items: center;
    display: flex;
}
img {
    max-width: 100%;
    object-fit: cover;
    display: block;
}
.section .container {
    display: block;
    width: 1128px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: 156px;
    margin-right: 156px;
    flex-direction: row;
}
.section-third .container {
    gap: 50px;
    display: block;
}
.team-people {
    justify-content: center;
    padding-top: 120px;
}
.our-portfolio {
    justify-content: center;
}
.header-div {
    display: flex;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav {
    display: flex;
    align-items: center;
}
.menu {
    gap: 40px;
    display: flex;
}
.menu .link {
    padding: 24px 0;
}
.second-menu {
    display: flex;
    gap: 40px
}
.section-third {
    padding: 120px 0;
}
.container .ul-list-one {
    display: flex;
    gap: 24px;
}
.ul-list-one>li {
    flex-basis: calc((100%-3*24px)/4);
}
.container-footer>a {
    display: inline-block;
    margin-bottom: 16px;
}
.nav>a {
    margin-right: 76px;
}
.section-first {
    padding: 188px 0;
}
.ul-list {
    display: flex;
    gap: 24px;
}
.ul-list>li {
    flex-basis: calc((100%-72px)/4);
    border-radius: 0px 0px 4px 4px; 
}
.list .worker {
    padding: 32px 16px;
}
.text-worker {
    text-align: center;
    margin-bottom: 8px;
}
.paragraph-worker {
    text-align: center;
}
.section-second {
    padding: 120px 0;
}
.ul-list-one .second-level {
    flex-basis: calc((100%-72px)/4);
}
.team-people {
    margin-bottom: 72px;
}
.worker {
    padding: 32px 16px;
}
.section .container {
    padding-top: 120px;
    padding-bottom: 120px;
}
.our-portfolio {
    margin-bottom: 72px;;
}
.portfolio>li {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portoflio .list {
    width: calc((100% - 48px) / 3);
}
.category {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.category .paragraph {
    margin-bottom: 8px;
}